[Unit]
Description=Set Hyprsunset Day Temperature
PartOf=hyprsunset.service
After=hyprsunset.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hyprctl hyprsunset temperature 6000

[Install]
WantedBy=default.target