[Unit]
Description=Hyprsunset Daemon
PartOf=hyprland.target
After=hyprland.target

[Service]
Type=simple
ExecStart=/usr/bin/hyprsunset
Restart=on-failure

[Install]
WantedBy=default.target