[Unit]
Description=ClamAV Log Monitor for Desktop Notifications
After=network.target

[Service]
Type=simple
ExecStart=/home/hcnureth/clamav_monitor.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target