* {
    border: none;
    border-radius: 0px;
    font-family: "Inter", "FiraCode Nerd Font Mono", sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: rgba(46, 139, 87, 0.3);
    transition-property: background-color;
    transition-duration: .5s;
    color: #2E8B57;
}

/* Common module styling */
#workspaces,
#window,
#clock,
#network,
#pulseaudio,
#tray,
#custom-power {
    padding: 0 8px;
    margin: 2px;
    background: transparent;
}

#clock {
    margin-top: 6px;
}

#network,
#tray {
    font-size: 24px;
}

#network,
#custom-power {
    border-radius: 4px;
    margin: 4px 0;
}

#custom-power {
    font-size: 20px;
    margin-right: 8px;
    padding: 0 10px;
}

#workspaces button {
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 4px;
    margin-top: 5.5px;
    margin-bottom: 4px;
    color: #2E8B57;
}

#workspaces button:hover,
#network:hover,
#custom-power:hover {
    background: rgba(46, 139, 87, 0.4);
}

#clock {
    font-weight: bold;
}

menu {
    padding: 8px 4px;
	border-radius: 8px;
    background-color: rgba(38, 115, 71, 1);
    /* color: #cdd6f4; */
    color: rgba(121, 210, 160, 1);
}

menuitem {
	border-radius: 8px;
    margin: 2px 4px;
}
menuitem:hover {
    background-color: rgba(46, 139, 87, 0.7);
    color: rgba(121, 210, 160, 1);
}

menuitem label {
    padding: 0;
}
menuitem label:not(:first-child) {
    margin-top: 3px;
}
menuitem label:first-child {
    font-size: 24px;
    margin-right: 4px;
}
