[Desktop Entry]
Type=Application
Name=GTNH Recording Backups
Comment=Backup Shared, GTNH server, and Game Recordings to Desktop
Exec=$HOME/Development/repos/dotfiles/scripts/gtnh/create-recording-backups.sh
Path=$HOME/Development/repos/dotfiles/scripts/gtnh
Terminal=true
Categories=Utility;
