[Desktop Entry]
Type=Application
Name=GTNH World Share Zip
Comment=Zip world; prompts for episode number in terminal
Exec=/home/hcnureth/Development/repos/dotfiles/scripts/gtnh/gtnh-world-share.sh
Path=/home/hcnureth/Development/repos/dotfiles/scripts/gtnh
Terminal=true
Categories=Utility;
