/* 
    To view the selectors, use the terminal with:
    GTK_DEBUG=interactive wofi -n --show drun
*/

/* :root {
    --sea-green-dark: rgba(38, 115, 71, 1);
    --sea-green: rgba(46, 139, 87, 1);
    --sea-green-light: rgba(121, 210, 160, 1);
} */

* {
    font-family: "Inter", "FiraCode Nerd Font Mono", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    transition-duration: 300;
    color: rgba(121, 210, 160, 1);
}

window {
    background-color: rgba(38, 115, 71, 1);
    border-radius: 8px;
}

#input {
    padding: 8px;
    margin: 8px 12px;
    background-color: rgba(38, 115, 71, 1);
    border: solid 2px rgba(121, 210, 160, 1);
    border-radius: 8px;
    box-shadow: none; /* Removes the blue outline on focus */
}

/* Child wrapper */
#expander-box {
    background: rgba(46, 139, 87, 1);
}

/* Child entries */
#entry #entry {
    margin-top: 4px;
}
#entry #entry:last-child {
    margin-bottom: 4px;
}
#entry #entry:selected {
    background: rgba(38, 115, 71, 1);
}

#entry {
    padding: 8px;
    margin: 0 12px;
    border-radius: 8px;
    outline: none;
}

#entry:selected {
    background: rgba(46, 139, 87, 1);
}

#img {
    margin-right: 12px;
    margin-left: 8px;
}