---
- name: Set up Pop!_OS workstation
  hosts: localhost
  # You can run a specific role with: `ansible-playbook --tags role-name` (e.g. ansible-playbook --tags chezmoi)
  vars:
    ansible_user: "{{ lookup('env','USER') }}"
    ansible_user_dir: "{{ lookup('env','HOME') }}"
  roles:
    - { role: apt-packages, tags: ["apt", "apt-packages"] }
    - { role: cursor, tags: ["cursor"] }
    - { role: chezmoi-setup, tags: ["chezmoi", "dotfiles"] }
    - { role: zsh, tags: ["zsh", "ohmyzsh"] }
    - { role: zellij, tags: ["zellij"] }
    - { role: custom-dirs, tags: ["dirs", "custom-dirs"] }
    - { role: flatpak-apps, tags: ["flatpak", "flatpak-apps"] }
    - { role: discord-settings, tags: ["discord"] }
    - {
        role: zoom-settings,
        when: "install_profile | default('all') in ['work','all']",
        tags: ["zoom"],
      }
    - { role: gnome-extensions, tags: ["gnome", "gnome-extensions"] }
    - { role: gnome-settings, tags: ["gnome", "gnome-settings"] }
    - { role: firewall, tags: ["firewall"] }
    - {
        role: minecraft-port,
        when: "install_profile | default('all') in ['home','all']",
        tags: ["minecraft", "minecraft-port"],
      }
    - {
        role: minecraft-server-suspend-prevention,
        when: "install_profile | default('all') in ['home','all']",
        tags: ["minecraft", "minecraft-server", "suspend-prevention"],
      }
    - { role: clamav, tags: ["clamav"] }
    - { role: lid-switch, tags: ["lid", "lid-switch"] }
