@for $i from 1 through 16 {
  $spacing-unit: 4px;
  $spacing-value: $i * $spacing-unit;

  // POSITIVE PADDINGS
  .pa-#{$i} {
    padding: $spacing-value;
  }
  .py-#{$i} {
    padding-top: $spacing-value;
    padding-bottom: $spacing-value;
  }
  .px-#{$i} {
    padding-left: $spacing-value;
    padding-right: $spacing-value;
  }
  .pt-#{$i} {
    padding-top: $spacing-value;
  }
  .pb-#{$i} {
    padding-bottom: $spacing-value;
  }
  .pl-#{$i} {
    padding-left: $spacing-value;
  }
  .pr-#{$i} {
    padding-right: $spacing-value;
  }
  // Negative values are not supported in GTK, so they are not included.
}
